body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

header, footer {
    background: #5a4536;
    color: white;
    padding: 14px;
}

/* CARD EXATO DO MODELO */
.event-card {
    background: #ffffff;
    border-radius: 6px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    padding: 10px;
    margin-bottom: 18px;
}

.img-placeholder {
    background: #d0cdcd;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #666;
    border-radius: 4px;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
    color: #705441;
    margin-bottom: 0;
}

.event-text {
    font-size: 12px;
    color: #333;
    line-height: 1.3;
}

.favorite-icon {
    font-size: 18px;
    color: #5a4536;
    float: right;
    margin-top: -5px;
    cursor: pointer;
}

.btn-inscrever {
    background: #5a4536;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 11px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.search-bar {
    width: 60%;
}

/* COLUNA DIREITA FIXA (MENU) */
.menu-area {
    position: fixed;
    right: 20px;
    top: 110px;
    width: 180px;
}

.menu-btn {
    background: white;
    border-radius: 20px;
    border: 1px solid #5a4536;
    color: #5a4536;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* ÁREA DOS CARDS (ESPAÇO À ESQUERDA DO MENU) */
.content-area {
    width: calc(100% - 260px);
}
