body {
    font-family: Arial, sans-serif;
    background: #e6e2df;
    margin: 0;
    padding: 0;
}



header {
    background: #007872;
    padding: 10px;
    color: #fff;
    text-align: left;
}


.top-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.top-menu button {
    padding: 6px 15px;
    border: none;
    background: #e9e9e9;
    border-radius: 5px;
    cursor: pointer;
}

.mapa {
    width: 80%;
    height: 220px;
    background: #b4b4b4;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.search-container {
    text-align: center;
    margin: 10px 0;
}

.section-title {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 90%;
    margin: auto;
}

.card {
    background: #ddd;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pin {
    position: absolute;
    top: 5px;
    right: 5px;
    background: orange;
    width: 18px;
    height: 18px;
    border-radius: 3px;
}

footer {
    background: #007872;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
}
