body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

header, footer {
    background:  #d29000;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.img-placeholder {
    background: #ccc;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.section-title {
    font-size: 22px;
    font-weight: bold;
    color: #b36a00;
    margin-bottom: 10px;
    font-style: italic;
}

.event-title {
    color: #d29000;
    font-weight: bold;
}

.subtitle {
    color: #b36a00;
}

.btn {
    background: #d29000;
    color: white;
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.event-info strong {
    color: #444;
}
